@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
  @apply min-h-screen;
}

#__next {
  @apply min-h-screen;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink-animation {
  animation: blink 1s step-end infinite;
}

.side-nav-link {
  display: block;
  padding: 5px 10px;
  margin: 5px 15px;
  font-size: 16px;
  color: #333;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.side-nav-link:hover {
  background-color: #fb539b;
  font-weight: 800;
  border-radius: '20px';
  color: #ffffff;
  text-decoration: none;
  transform: translateY(5px);
}
